@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .perspective {
        perspective: 500px;
    }
    
    .preserve {
        transform-style: preserve-3d;
    }
    
    .hidden-backface {
        backface-visibility: hidden;
    }
    
    .rotate-y {
        transform: rotateY(-180deg);
    }

    .visually-hidden {
        clip: rect(0 0 0 0); 
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap; 
        width: 1px;
    }

    .rating-label:hover { @apply bg-orange; }
    .rating-label:hover .rating-label-text { @apply text-white; }

    #rating-input-1:checked ~ #rating-pannel #rating-pannel-front #rating-labels #rating-label-1 { @apply bg-medium-grey; }
    #rating-input-2:checked ~ #rating-pannel #rating-pannel-front #rating-labels #rating-label-2 { @apply bg-medium-grey; }
    #rating-input-3:checked ~ #rating-pannel #rating-pannel-front #rating-labels #rating-label-3 { @apply bg-medium-grey; }
    #rating-input-4:checked ~ #rating-pannel #rating-pannel-front #rating-labels #rating-label-4 { @apply bg-medium-grey; }
    #rating-input-5:checked ~ #rating-pannel #rating-pannel-front #rating-labels #rating-label-5 { @apply bg-medium-grey; }

    #rating-input-1:focus ~ #rating-pannel #rating-pannel-front #rating-labels #rating-label-1 { @apply outline outline-2 outline-white; }
    #rating-input-2:focus ~ #rating-pannel #rating-pannel-front #rating-labels #rating-label-2 { @apply outline outline-2 outline-white; }
    #rating-input-3:focus ~ #rating-pannel #rating-pannel-front #rating-labels #rating-label-3 { @apply outline outline-2 outline-white; }
    #rating-input-4:focus ~ #rating-pannel #rating-pannel-front #rating-labels #rating-label-4 { @apply outline outline-2 outline-white; }
    #rating-input-5:focus ~ #rating-pannel #rating-pannel-front #rating-labels #rating-label-5 { @apply outline outline-2 outline-white; }

    #rating-input-1:checked ~ #rating-pannel #rating-pannel-front #rating-submit-button { @apply block; }
    #rating-input-2:checked ~ #rating-pannel #rating-pannel-front #rating-submit-button { @apply block; }
    #rating-input-3:checked ~ #rating-pannel #rating-pannel-front #rating-submit-button { @apply block; }
    #rating-input-4:checked ~ #rating-pannel #rating-pannel-front #rating-submit-button { @apply block; }
    #rating-input-5:checked ~ #rating-pannel #rating-pannel-front #rating-submit-button { @apply block; }

    #rating-input-1:checked ~ #rating-pannel #rating-pannel-front #rating-submit-button-disabled { @apply hidden; }
    #rating-input-2:checked ~ #rating-pannel #rating-pannel-front #rating-submit-button-disabled { @apply hidden; }
    #rating-input-3:checked ~ #rating-pannel #rating-pannel-front #rating-submit-button-disabled { @apply hidden; }
    #rating-input-4:checked ~ #rating-pannel #rating-pannel-front #rating-submit-button-disabled { @apply hidden; }
    #rating-input-5:checked ~ #rating-pannel #rating-pannel-front #rating-submit-button-disabled { @apply hidden; }

    #rating-input-1:checked ~ #rating-pannel #rating-pannel-front #rating-labels #rating-label-1 .rating-label-text { @apply text-white; }
    #rating-input-2:checked ~ #rating-pannel #rating-pannel-front #rating-labels #rating-label-2 .rating-label-text { @apply text-white; }
    #rating-input-3:checked ~ #rating-pannel #rating-pannel-front #rating-labels #rating-label-3 .rating-label-text { @apply text-white; }
    #rating-input-4:checked ~ #rating-pannel #rating-pannel-front #rating-labels #rating-label-4 .rating-label-text { @apply text-white; }
    #rating-input-5:checked ~ #rating-pannel #rating-pannel-front #rating-labels #rating-label-5 .rating-label-text { @apply text-white; }

    #rating-input-1:checked ~ #rating-pannel #rating-pannel-back #rating-results #rating-result-1 { @apply inline; }
    #rating-input-2:checked ~ #rating-pannel #rating-pannel-back #rating-results #rating-result-2 { @apply inline; }
    #rating-input-3:checked ~ #rating-pannel #rating-pannel-back #rating-results #rating-result-3 { @apply inline; }
    #rating-input-4:checked ~ #rating-pannel #rating-pannel-back #rating-results #rating-result-4 { @apply inline; }
    #rating-input-5:checked ~ #rating-pannel #rating-pannel-back #rating-results #rating-result-5 { @apply inline; }

    #rating-submit:focus ~ #rating-pannel #rating-pannel-front #rating-submit-button { @apply outline outline-2 outline-white; }
    #rating-submit:checked ~ #rating-pannel { @apply rotate-y }
}
